# 编辑器配置
/.idea
/.vscode
# 依赖
/vendor
/node_modules
# 其他
/tests/tmp
/tests/.phpunit.result.cache
/phpstan.neon
/*.log
/build
/public/storage
/public/assets
/.env
/env.php
/env.local.php
/docker-compose.yaml
