parameters:
    level: 5
    tmpDir: runtime/phpstand
    paths:
        - app
        - support/facade
    excludePaths:
        - app/command/TestCommand.php
        - app/api/controller/ExampleSourceController.php
        - support/facade/CacheWebman.php
        - support/facade/Locker.php
    ignoreErrors:
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Builder::like\(\)#'
        - '#Parameter \#1 \$value of method WebmanTech\\AmisAdmin\\Amis\\FormField::value\(\) expects string, null given.#'
